<section class="blogPageS1">
    <div class="blogPageS1-container px-120">
        <div class="blogPageS1-back">
            <div class="boxEmpty"></div>
            <h1 class="colorWhite font-bold subtitle64px text-center"><span class="color-linearGradient">Code</span>
                help you to Find
                <br>
                useful tips in <span class="color-linearGradient">our blog</span>
            </h1>
            <div class="boxButton"><button class="btn-hover bgNone"><img
                        src="../../../../../assets/images/btnLinear-45deg.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>
<!-- <section class="blogPageS2">
    <div class="blogPageS2-container px-120">
        <div class="blogPageS2-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Blog
                Categories</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">Discover
                all latest trends<br>at IT world with <span class="color-linearGradient">Code</span></h1>
            <p class="style-font text-center colorTwo subtitle24px p-head">CODE help yor to determine your
                business requirements by set of articles in many of IT categories</p>
        </div>
        <div class="d-flex fx-blogPageS2 fxGeneral-cards">
            <div class="fxCard">
                <img src="../../../../../assets/images/WhoisCode2.png" alt="image" class="fxCard-img">
                <div class="fxCard-text">
                    <h3 class="subtitle24px font-medium color-linearGradient">ICT Categories</h3>
                </div>
            </div>
            <div class="fxCard">
                <img src="../../../../../assets/images/WhoisCode2.png" alt="image" class="fxCard-img">
                <div class="fxCard-text">
                    <h3 class="subtitle24px font-medium color-linearGradient">Data Categories</h3>
                </div>
            </div>
            <div class="fxCard">
                <img src="../../../../../assets/images/WhoisCode2.png" alt="image" class="fxCard-img">
                <div class="fxCard-text">
                    <h3 class="subtitle24px font-medium color-linearGradient">IT Categories</h3>
                </div>
            </div>
            <div class="fxCard">
                <img src="../../../../../assets/images/WhoisCode2.png" alt="image" class="fxCard-img">
                <div class="fxCard-text">
                    <h3 class="subtitle24px font-medium color-linearGradient">AI Categories</h3>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="blogPageS4">
    <div class="blogPageS4-container">
        <div class="blogPageS4-titles  ">
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down">Explore Our
                Stories with<span class="color-linearGradient"> innovation</span></h1>
            <p class="style-font text-center colorTwo subtitle24px p-head">CODE help yor to determine your business
                requirements by set of articles in many of IT categories</p>
        </div>
        <div class="divSlider">
            <div class="sliderTitle d-flex justify-content-between align-items-center  px-120">
                <h1 class="color-linearGradient font-bold subtitle36px">Latest News</h1>
                <div class="arrowsStories d-flex align-items-center ms-3" (click)="nextSlideStory()"><img
                        src="../../../../../assets/images/rightBlog.svg" alt="Next Slide"
                        class="rightStory transition3s ms-2" (click)="prevSlideStory()"><img
                        src="../../../../../assets/images/leftBlog.svg" alt="Previous Slide"
                        class="leftStory transition3s">
                </div>
            </div>
            <ngx-slick-carousel #sliderStories class="sliderStories" [config]="slideConfig">
                <div ngxSlickItem class="slide" *ngFor="let story of stories ">
                    <div [style.background-image]="'url(' + story.imgBackground + ')'" class="cardStory">
                        <h4 class="font-semiBold subtitle18px colorWhite">{{story.title}}</h4>
                        <div class="divButton">
                            <img src="../../../../../assets/images/btnDetailsStory.svg" alt="btn Details Story">
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>
<section class="blogPageS3">
    <div class="blogPageS3-container px-120">
        <div class="fxColumns-gap d-flex flex-column">
            <div class="d-flex fx-blogPageS3">
                <div class="blogPageS3-img">
                    <img src="../../../../../assets/images/imageAI-3.png" alt="image AI" class="imageAI">
                    <div class="boxButton"><button class="btn-hover bgNone"><img
                                src="../../../../../assets/images/btnLinear-45deg.svg" alt=""></button>
                    </div>
                </div>
                <div class="blogPageS3-text">
                    <span class="subtitle24px font-medium color-linearGradient">November 29, 2023</span>
                    <h1 class="subtitle36px font-bold colorOne" data-aos="zoom-in">The Future of AI power at
                        Digital
                        world, Key Trends
                        Impacting
                        Businesses:</h1>
                    <p class="colorTwo subtitle24px style-font">In the digital business world, striking visuals
                        are
                        everything. Having strong graphics is
                        always great for promoting
                        your consistent branding. Sometimes there...</p>
                </div>
            </div>
            <div class="d-flex fx-blogPageS3">
                <div class="blogPageS3-text">
                    <span class="subtitle24px font-medium color-linearGradient">November 29, 2023</span>
                    <h1 class="subtitle36px font-bold colorOne" data-aos="zoom-in">The Future of AI power at
                        Digital
                        world, Key Trends
                        Impacting
                        Businesses:</h1>
                    <p class="colorTwo subtitle24px style-font">In the digital business world, striking visuals
                        are
                        everything. Having strong graphics is
                        always great for promoting
                        your consistent branding. Sometimes there...</p>
                </div>
                <div class="blogPageS3-img">
                    <img src="../../../../../assets/images/imageAI-4.png" alt="image AI" class="imageAI">
                    <div class="boxButton boxButtonLeft"><button class="btn-hover bgNone"><img
                                src="../../../../../assets/images/btnLinear-45deg.svg" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="d-flex fx-blogPageS3">
                <div class="blogPageS3-img ">
                    <img src="../../../../../assets/images/imageAI-3.png" alt="image AI" class="imageAI">
                    <div class="boxButton "><button class="btn-hover bgNone"><img
                                src="../../../../../assets/images/btnLinear-45deg.svg" alt=""></button>
                    </div>
                </div>
                <div class="blogPageS3-text">
                    <span class="subtitle24px font-medium color-linearGradient">November 29, 2023</span>
                    <h1 class="subtitle36px font-bold colorOne" data-aos="zoom-in">The Future of AI power at
                        Digital
                        world, Key Trends
                        Impacting
                        Businesses:</h1>
                    <p class="colorTwo subtitle24px style-font">In the digital business world, striking visuals
                        are
                        everything. Having strong graphics is
                        always great for promoting
                        your consistent branding. Sometimes there...</p>
                </div>
            </div>
        </div>
        <div class=" d-flex align-items-center pagination">
            <button class="active subtitle24px number btn-hover">1</button>
            <button class="colorOne subtitle24px font-medium number btn-hover">2</button>
            <button class="next d-flex align-items-center justify-content-center btn-hover"><span
                    class="subtitle24px colorOne subtitle24px ">Next</span><img
                    src="../../../../../assets/images/arrowDown.svg" alt="arrowDown"></button>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="../../../../../assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Be always in
                    touch</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's <span
                        class="color-linearGradient">Empower</span> your <br>brand & business </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="../../../../../assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font">DB Consulting specializes in SQL Server, our tutorial and training
            is founded
            on
            real-life
            experience, and we practice
            what we preach! In addition to training courses and workshops, we offer</p>
    </div>
</section>