<div class="navbar-mobile">
    <div class=" align-items-center  justify-content-between  flex-head">
        <a href="index.html"><img src="../../../assets/images/logo.svg" class="logo-image" /></a>
        <div class="hamburger" id="hamburger" (click)="toggleSidenav(true)">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
        </div>
    </div>
    <nav class="nav-mobile" [class.active]="isSidenavOpen">
        <div class="links">
            <div class="d-flex align-items-center justify-content-between fxLogo">
                <img src="../../../assets/images/logo.svg" class="logo" />
                <div class="hamburger" id="hamburger-inside" (click)="toggleSidenav(false)">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                </div>
            </div>
            <div class="fx-links">
                <a href="./index.html" class="font-medium active">Home</a>
                <div class="border"></div>
                <a href="./about.html" class="font-medium">About us</a>
                <div class="border"></div>
                <div class="btnServicesMb">
                    <button type="button" class="link d-flex align-items-center justify-content-between w-100"
                        (click)="toggleServicesList()">
                        <span class="font-medium linkStyle">Our services</span>
                        <img src="../../../assets/images/arrowDown.svg" alt="arrowDown icon"
                            [class.rotated]="servicesListOpen" />
                    </button>

                    <div class="listServices" [class.active]="servicesListOpen">
                        <div class="listPart">
                            <div class="d-flex flex-column fx-listServices gap20">
                                <a href="" class="font-medium">Database Consulting</a>
                                <a href="./cloudIntegration.html" class="font-medium">Cloud Integration Support</a>
                                <a href="" class="font-medium">Clouding Storage</a>
                                <a href="" class="font-medium">Remote Onsite Support</a>
                                <a href="" class="font-medium">IT Consulting</a>
                                <a href="" class="font-medium">Cyber Security</a>
                                <a href="" class="font-medium">Internet & voip</a>
                                <a href="" class="font-medium">Network Setup & Support</a>
                                <a href="" class="font-medium">System Management</a>
                                <a href="" class="font-medium">Disaster Recovery</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border"></div>
                <a href="./ourPartners.html" class="font-medium">Our partners</a>
                <div class="border"></div>
                <a href="./blogs.html" class="font-medium">Blogs</a>
                <div class="border"></div>
                <button class="btn-linearGradient colorWhite font-bold">Contact
                    Us</button>
            </div>
        </div>
    </nav>
</div>