<section class="aboutSOne">
    <div class="aboutSOne-container px-120">
        <div class="aboutSOne-content">
            <h1 class="font-bold colorWhite text-center" data-aos="fade-down">Discover a single place that <br>
                create <span class="color-linearGradient">powerful </span>products</h1>
            <div class="d-flex justify-content-between fx-aboutSOne">
                <div class="d-flex fx-buttons">
                    <button class="btn-linearGradient d-flex align-items-center justify-content-center">
                        <img src="../../../../../assets/images/globe.svg" alt="globe icon">
                        <span class="font-medium colorWhite subtitle24px">Public Sectors</span>
                    </button>
                    <button class="btnOutline d-flex align-items-center justify-content-center">
                        <img src="../../../../../assets/images/map-pin.svg" alt="map icon">
                        <span class="font-medium color-linearGradient  subtitle24px">Enterprises</span>
                    </button>
                    <button class="btnOutline d-flex align-items-center justify-content-center">
                        <img src="../../../../../assets/images/credit-card.svg" alt="credit card icon">
                        <span class="font-medium color-linearGradient  subtitle24px">Banking & Finance</span>
                    </button>
                    <h2 class="mb-0 font-bold ourClients">Our clients</h2>
                </div>

                <h2 class="mb-0 font-bold">Our clients</h2>
            </div>
        </div>
    </div>
</section>
<section class="aboutSTwo">
    <div class="aboutSTwo-container">
        <ngx-slick-carousel class="sliderLogos-black" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let logo of logos" class="slide">
                <img [src]="logo" alt="logo" />
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<section class="aboutSThree">
    <div class="aboutSThree-container px-120">
        <div class="d-flex fx-aboutSThree">
            <div class="aboutSThree-texts ">
                <span class="subtitle24px color-linearGradient font-medium mb24 d-block">Who is Code?</span>
                <h1 class="subtitle48px colorOne font-bold mb24"> Code is the <span class="color-linearGradient">AI
                        power</span>
                    that helps
                    you create
                    amazing product</h1>
                <p class="mb-0 subtitle24px colorTwo style-font mb24">Built on years of experience by experts,
                    we
                    ensure that
                    our
                    customers
                    are educated
                    and protected, have expert solutions
                    and recommendations to rely on. <br> <br>
                    We have complete support that helps our customers integrate their business with today’s
                    needs.
                </p>
            </div>
            <div class="aboutSThree-imgs">
                <img src="../../../../../assets/images/WhoisCode.png" alt="About image"
                    class="aboutSThree-img1 d-block">
                <img src="../../../../../assets/images/WhoisCode2.png" alt="About image" class="aboutSThree-img2">
            </div>
        </div>
    </div>
</section>
<section class="aboutSFour">
    <div class="aboutSFour-container px-120">
        <img src="../../../../../assets/images/OVERVIEW-back.png" alt="OVERVIEW background" class="overviewBack">
        <div class="d-flex fx-aboutSFour">
            <div class="aboutSFour-part">
                <img src="../../../../../assets/images/aboutSFour-img1.png" alt="about img" class="aboutSFour-img">
                <div class="aboutSFour-texts">
                    <h1 class="text-center font-bold subtitle48px colorOne mb24"> <span
                            class="color-linearGradient">Code</span> is Guided by a strong<span
                            class="color-linearGradient"> mission</span>
                    </h1>
                    <p class="mb-0 colorTwo subtitle24px style-font text-center">Our mission is to empower
                        customers with the right care solutions, backed by expertise and research, ensuring
                        their
                        protection through consultation, integration, and support.</p>
                </div>

            </div>
            <div class="aboutSFour-part">
                <div class="aboutSFour-texts">
                    <h1 class="text-center font-bold subtitle48px colorOne mb24"> <span
                            class="color-linearGradient">Code</span> is
                        driven by a <br> clear <span class="color-linearGradient">vision</span>
                    </h1>
                    <p class="mb-0 colorTwo subtitle24px style-font text-center">CODE is committed to customer
                        satisfaction,
                        directing all initiatives toward their benefit
                        and striving for industry
                        leadership. <br> <br>
                        CODE is dedicated to providing top-tier care services and solutions, continuously
                        evolving
                        to drive business success.
                    </p>
                </div>
                <img src="../../../../../assets/images/aboutSFour-img2.png" alt="about img" class="aboutSFour-img">
            </div>
        </div>
    </div>
</section>
<section class="aboutSFive">
    <div class="aboutSFive-container px-120">
        <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">Our training
            programes</span>
        <h1 class="font-bold subtitle48px colorOne text-center mb24"> How to Build Your
            Own<span class="color-linearGradient">
                Professional<br>DB Consulting
            </span> Service in 40
            Days?</h1>
        <p class="style-font text-center colorTwo subtitle24px p-head">DB Consulting specializes in SQL Server,
            our
            tutorial and
            training is
            founded on
            real-life
            experience, and we practice
            what we preach! In addition to training courses and workshops, we offer</p>
        <div class="d-flex fx-trainingProgrames fxGeneral-cards">
            <div class="trainingProgrames-box d-flex flex-column align-items-center fxCard box1"
                style="background-image: url(../../../../../assets/images/box1.svg);">
                <div class="trainingProgrames-texts d-flex flex-column align-items-center">
                    <img src="../../../../../assets/images/rateWhite.svg" alt="rate White icon" class="rateWhite">
                    <h4 class="font-bold colorWhite subtitle24px ">Fundamental Level</h4>
                    <p class="font-medium colorWhite subtitle16px  mb-0">How to build and manage <br> your
                        database
                        infrastructure <br>
                        in 10 days?</p>
                </div>
            </div>
            <div class=" d-flex flex-column align-items-center fxCard box2"
                style="background-image: url(../../../../../assets/images/box2.png);">
                <span class="colorWhite text-center font-medium">DB Consulting Overview</span>
                <h1 class="subtitle24px color-linearGradient font-bold">Who should attend?</h1>
                <div class="d-flex fxGeneral-cards">
                    <div class="fxCard attendSection attendSection33">
                        <h4 class="font-bold subtitle16px colorWhite text-center">SQL Server enthusiasts</h4>
                        <p class="mb-0 text-center style-font colorWhite text-center">Those eager for hands-on
                            experience.
                        </p>
                    </div>
                    <div class="fxCard attendSection attendSection33">
                        <h4 class="font-bold subtitle16px colorWhite text-center">MCSE aspirants</h4>
                        <p class="mb-0 text-center style-font colorWhite text-center">Passionate about SQL
                            Server
                            certification.</p>
                    </div>
                    <div class="fxCard attendSection attendSection33">
                        <h4 class="font-bold subtitle16px colorWhite text-center">T-SQL learners</h4>
                        <p class="mb-0 text-center style-font colorWhite text-center">Anyone with basic T-SQL
                            knowledge..
                        </p>
                    </div>
                    <div class="fxCard attendSection attendSection50">
                        <h4 class="font-bold subtitle16px colorWhite text-center">SQL Server professionals</h4>
                        <p class="mb-0 text-center style-font colorWhite text-center">Those eager for hands-on
                            experience.
                        </p>
                    </div>
                    <div class="fxCard attendSection attendSection50">
                        <h4 class="font-bold subtitle16px colorWhite text-center">Tech professionals</h4>
                        <p class="mb-0 text-center style-font colorWhite text-center">.NET developers, DB
                            admins, analysts,
                            and
                            engineers.</p>
                    </div>
                </div>
            </div>
            <div class="trainingProgrames-box  fxCard box3"
                style="background-image: url(../../../../../assets/images/box3.svg);">
                <div class="trainingProgrames-texts d-flex flex-column">
                    <img src="../../../../../assets/images/rateWhite.svg" alt="rate White icon" class="rateWhite">
                    <h4 class="font-bold colorWhite subtitle24px">Professional Level</h4>
                    <p class="font-medium colorWhite subtitle16px  mb-0">How to Build your own Data
                        Engineering Platform and Manage TB Data in <br>
                        10 Days?</p>
                </div>
            </div>
            <div class="trainingProgrames-box  fxCard box4"
                style="background-image: url(../../../../../assets/images/box4.svg);">
                <div class="trainingProgrames-texts d-flex flex-column align-items-center justify-content-center">
                    <img src="../../../../../assets/images/rateLinear.svg" alt="rate White icon" class="rateWhite">
                    <h4 class="font-bold subtitle24px text-center">Professional Level</h4>
                    <p class="style-font subtitle16px  mb-0 text-center">How to Build your own Data
                        Engineering Platform and Manage TB Data in
                        10 Days?</p>
                </div>
            </div>
            <div class="trainingProgrames-box  fxCard box5"
                style="background-image: url(../../../../../assets/images/box5.svg);">
                <div class="trainingProgrames-texts d-flex flex-column  justify-content-center">
                    <img src="../../../../../assets/images/rateWhite.svg" alt="rate White icon" class="rateWhite">
                    <h4 class="font-bold colorWhite subtitle24px text-center">Professional Level</h4>
                    <p class="font-medium colorWhite subtitle16px  mb-0">How to Build your own Data <br>
                        Engineering Platform and Manage TB Data in
                        10 Days?</p>
                </div>
            </div>
            <div class="trainingProgrames-box fxCard box6"
                style="background-image: url(../../../../../assets/images/box6.svg);">
                <div class="trainingProgrames-texts d-flex flex-column align-items-center justify-content-center">
                    <img src="../../../../../assets/images/rateLinear.svg" alt="rate White icon" class="rateWhite">
                    <h4 class="font-bold subtitle24px text-center text">Professional Level</h4>
                    <p class="style-font subtitle16px  mb-0 text-center">How to Build your own Data
                        Engineering Platform and Manage TB Data in
                        10 Days?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="../../../../../assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Work with us</span>
                <h1 class=" subtitle48px font-bold mb-0">Ready to <span class="color-linearGradient">join us
                    </span>& <span class="color-linearGradient"><br> level up</span> your
                    skills</h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="../../../../../assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font">DB Consulting specializes in SQL Server, our tutorial and training
            is founded
            on
            real-life
            experience, and we practice
            what we preach! In addition to training courses and workshops, we offer</p>
    </div>
</section>