<section class="contactUsS1">
    <div class="contactUsS1-container px-120">
        <div class="d-flex fx-contactUsS1">
            <div class="contactUsS1-text">
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"><span class="color-linearGradient">Code</span>
                    is all you need <br>to create
                    your <br> project</h1>
                <p class="mb-0 colorOne subtitle24px font-medium">Best ICT solutions company in Gulf and the
                    Middle East</p>
            </div>
            <div class="contactUsS1-img">
                <img src="../../../assets/images/contactS1.png" alt="contact image" data-aos="zoom-in">
            </div>
        </div>
    </div>
</section>
<section class="contactUsS2">
    <div class="contactUsS2-container px-120">
        <div class="d-flex fx-contactUsS2">
            <div class="contactUsS2-part1">
                <span class="color-linearGradient subtitle24px font-medium">Our Contacts</span>
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500">Get our all <span class="color-linearGradient">info</span><br>
                    <span class="color-linearGradient">directly</span> from here
                </h1>
            </div>
            <div class="contactUsS2-part2">
                <p class="mb-0 colorOne subtitle24px font-medium">CODE helps you define your business
                    requirements with precision, ensuring a clear roadmap to success. <br> <br>
                    Contact us to discover how we can support your business growth and streamline your path to
                    success.
                </p>
            </div>
        </div>
        <div class="d-flex fxGeneral-cards">
            <div class="box fxCard">
                <img src="../../../assets/images/Address-icon.svg" alt="Address icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle24px font-semiBold">Address</h3>
                    <span class="colorBlack style-font subtitle18px spanOne  d-block">Head office: Riyadh,Saudi
                        Arabia</span>
                    <span class="colorBlack style-font subtitle18px">Branch office: Egypt,Cairo</span>
                </div>
            </div>
            <div class="box fxCard">
                <img src="../../../assets/images/GetInTouch-icon.svg" alt="Get In Touch icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle24px font-semiBold">Get In Touch</h3>
                    <span class="colorBlack style-font subtitle18px spanOne d-block">Mobile:
                        +(***)*******</span>
                    <span class="colorBlack style-font subtitle18px">E-mail: email&#64;code.com</span>
                </div>
            </div>
            <div class="box fxCard">
                <img src="../../../assets/images/HourOfOperation-icon.svg" alt="Hour of operation icon" class="Icon">
                <div class="boxText">
                    <h3 class="colorBlack subtitle24px font-semiBold">Hour of operation</h3>
                    <span class="colorBlack style-font subtitle18px spanOne d-block">Sunday-Thursday:
                        8am-5pm</span>
                    <span class="colorBlack style-font subtitle18px">Friday: Closed</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactUsBanner">
    <img src="../../../assets/images/contactBanner.png" alt="contact Banner" class="w-100" data-aos="zoom-in">
</section>
<section class="contactUsS3">
    <div class="contactUsS3-container">
        <div class="contactUsS3-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">SEND A
                MESSAGE</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center " data-aos="fade-down"
                data-aos-easing="linear" data-aos-duration="500">Need
                any <span class="color-linearGradient">help?</span> </h1>
            <p class="style-font text-center colorTwo subtitle24px p-head">Please let us know if you have any
                questions on your business requirements.</p>
        </div>
        <div class="boxContact">
            <img src="../../../assets/images/back-boxContact.png" alt="back boxContact" class="back-boxContact">
            <div class="d-flex fx-boxContact">
                <div class="boxContact-text">
                    <img src="../../../assets/images/mailbox.svg" alt="mailbox icon">
                    <h1 class="font-bold colorBlack subtitle40px">We’d love to hear <br>
                        <span class="color-linearGradient">your thoughts!</span>
                    </h1>
                    <p class="font-medium mb-0 subtitle20px colorOne">Just fill out this form to get back to you
                        as soon
                        as we can
                        with our best answer.</p>
                </div>
                <div class="boxContact-form">
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="style-font subtitle16px" placeholder="your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="style-font subtitle16px" placeholder="your Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="style-font subtitle16px" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" placeholder="Message" class="style-font subtitle16px"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="subtitle16px font-medium colorWhite btn-linearGradient w-100">Send
                                Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="../../../assets/images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Be always in
                    touch</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's <span
                        class="color-linearGradient">Empower</span> your <br>brand & business </h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="../../../assets/images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font">DB Consulting specializes in SQL Server, our tutorial and training
            is founded
            on
            real-life
            experience, and we practice
            what we preach! In addition to training courses and workshops, we offer</p>
    </div>
</section>