<section class="serviceDetailsS1">
    <div class="serviceDetailsS1-container px-120">
        <div class="d-flex fx-serviceDetailsS1 mb24">
            <h1 class="colorThree  subtitle64px font-bold" data-aos="zoom-out-up">Cloud Integration</h1>
            <p class="font-medium mb-0 subtitle24px colorBlack">ICT solutions/<span class="color-linearGradient">Cloud
                    Integration</span></p>
        </div>
        <img src="./images/cloudComputing.png" alt="service image" data-aos="zoom-in">
    </div>
</section>
<section class="serviceDetailsS2">
    <div class="serviceDetailsS2-container px-120">
        <div class="d-flex fx-serviceDetailsS2">
            <div class="serviceDetailsS2-part1">
                <span class="color-linearGradient subtitle24px font-medium spanHead">Our IT consulting
                    services</span>
                <h1 class="font-bold subtitle64px colorBlack" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="500"> <span class="color-linearGradient">Unify</span> your
                    system with<br>
                    smart <span class="color-linearGradient">cloud solutions</span>
                </h1>
                <p class="subtitle24px mb-0 style-font colorTwo">Whether you're moving to the cloud, optimizing
                    hybrid
                    environments,
                </p>
            </div>
            <div class="serviceDetailsS2-part2">
                <p class="mb-0 colorOne subtitle24px font-medium">At CODE, we help businesses seamlessly
                    integrate cloud technologies to enhance efficiency, scalability, and security. <br> <br>
                    Our Cloud Integration services provide a future-ready foundation for your business
                    operations.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="serviceDetailsS3">
    <div class="serviceDetailsS3-container px-120">
        <div class="serviceDetailsS3-titles">
            <span class="color-linearGradient font-medium text-center d-block subtitle24px mb24">What we
                offer</span>
            <h1 class="font-bold subtitle48px colorOne mb24 aos-init text-center" data-aos="fade-down"><span
                    class="color-linearGradient">Cloud
                    Integration </span>services</h1>
            <p class="style-font text-center colorTwo subtitle24px p-head mb-0">Our team ensures ensuring
                scalability, efficiency, and long-term success</p>
        </div>
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle24px style-font">With CODE’s Cloud Integration solutions, you can
                    modernize
                    operations,
                    improve agility, and
                    unlock new growth
                    opportunities</h4>
                <p class="style-font subtitle20px colorBlack">
                    <b class="d-block">Seamless Cloud Migration</b>
                    Move your data, applications, and workflows to the cloud with zero disruption
                    <b class="d-block">Multi-Cloud & Hybrid Integration</b>
                    Connect on-premises and cloud environments for flexible operations
                    <b class="d-block">API & System Connectivity</b>
                    Ensure smooth communication between platforms, apps, and data sources
                    <b class="d-block">Security & Compliance</b>
                    Protect your cloud infrastructure with enterprise-grade security and regulatory
                    compliance
                    <b class="d-block">Automation & Performance Optimization</b>
                    Leverage AI and automation for enhanced speed, efficiency, and cost savings.
                </p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <div class="boxBootom"></div>
                <img src="./images/imageAI-5.png" alt="image AI">
            </div>
        </div>
        <div class="d-flex fx-serviceDetailsS3">
            <div class="serviceDetailsS3-texts">
                <h4 class="colorThree subtitle24px style-font">A strategic, step-by-step approach to evaluating,
                    planning, and seamlessly integrating cloud solutions, ensuring optimal
                    alignment with business goals.</h4>
                <p class="style-font subtitle20px colorBlack">
                    <b class="d-block">Seamless Data Integration</b>
                    Ensure flawless information sharing between on-site and cloud systems, minimizing downtime
                    and securing data against
                    loss.
                    <b class="d-block">Smooth Cloud Adoption</b>
                    Provide remote training and support for easy implementation of new cloud applications,
                    reducing learning curves and
                    transition challenges.
                    <b class="d-block">Continuous Optimization</b>
                    Consistently explore innovative and cost-effective solutions to enhance cloud performance
                    and address evolving business
                    needs.
                </p>
            </div>
            <div class="serviceDetailsS3-imgs" data-aos="zoom-in">
                <div class="boxTop"></div>
                <div class="boxBootom"></div>
                <img src="./images/imageAI-6.png" alt="image AI">
            </div>
        </div>
    </div>
</section>
<section class="contactSection">
    <img src="./images/CONTACT-text.svg" alt="CONTACT-text" class="contact-text">
    <div class="contactSection-container px-120">
        <div class="contactSection-div d-flex" style="background-image: url(./images/imageAI-7.png);">
            <div class="contactSection-texts">
                <span class="subtitle24px d-block color-linearGradient font-medium mb24">Do you need
                    professional services?</span>
                <h1 class=" subtitle48px font-bold mb-0" data-aos="fade-down">Let's get <span
                        class="color-linearGradient">the best
                    </span><br> for your business</h1>
            </div>
            <div class="contactSection-buttons d-flex">
                <button class="btn-linearGradient" type="button" onclick="window.location.href=''">
                    <span class="font-semiBold colorWhite subtitle20px">Contact us</span>
                    <img src="./images/arrow-up-right.svg" alt="arrow-up-right">
                </button>
            </div>
        </div>
        <p class="mb-0 colorTwo style-font">Let’s build a smarter IT future together.</p>
    </div>
</section>