<!-- <div class="links d-flex align-items-center">
  <a routerLink="index" routerLinkActive="active">home page</a>
  <a routerLink="servcies" class="d-block mx-3" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">servces page</a>
  <a routerLink="servcies/1/2" class="d-block mx-3" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">servces page 1</a>
  <a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">dashboard</a>
  <a routerLink="dashboard/profile" routerLinkActive="active">profile</a>
</div> -->

<main>
  <app-navbar-des></app-navbar-des>
  <app-navbar-mb></app-navbar-mb>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>