<header class="header px-120">
    <div class="d-flex align-items-center justify-content-between fx-header">
        <a class="logo-header" href="./index.html"><img src="../../../assets/images/logo.svg" alt="logo image"></a>
        <div class="d-flex links-header gap20 align-items-center">
            <a routerLink="/" routerLinkActive="color-linearGradient" [routerLinkActiveOptions]="{exact:true}"
                class="font-medium  linkStyle">Home</a>
            <a routerLink="aboutUs" routerLinkActive="color-linearGradient" class="font-medium linkStyle"></a>
            <!-- <a routerLink="/news/newsDetails/1" routerLinkActive="color-linearGradient"
                class="font-medium linkStyle">newsDetails</a> -->
            <div class="btnServicesHeader" (mouseenter)="showCover()" (mouseleave)="hideCover()">
                <button type="button" class="link d-flex align-items-center" data-target="Industries-list"
                    routerLink="aboutUs" routerLinkActive="dropDownActive">
                    <span class="font-medium linkStyle">About us</span>
                    <img src="../../../assets/images/arrowDown.svg" alt="arrowDown icon">
                </button>
                <div class="listServicesHeader" id="Industries-list">
                    <a class="font-medium">Our clients</a>
                    <a routerLink="/aboutUs/ourPartners" routerLinkActive="color-linearGradient" class="font-medium">Our
                        partners</a>
                </div>
            </div>
            <div class="btnServicesHeader" (mouseenter)="showCover()" (mouseleave)="hideCover()">
                <button type="button" class="link d-flex align-items-center" data-target="Industries-list"
                    routerLink="/ourServices" routerLinkActive="dropDownActive">
                    <span class="font-medium linkStyle">Our services</span>
                    <img src="../../../assets/images/arrowDown.svg" alt="arrowDown icon">
                </button>
                <div class="listServicesHeader" id="Industries-list">
                    <div class="listPart">
                        <div class="backService backServiceActive"><span class="font-medium">IT management</span>
                        </div>
                        <div class="d-flex flex-column fx-listServices gap20">
                            <a href="" class="font-medium">Database Consulting</a>
                            <a routerLink="/ourServices/serviceDetails/1" routerLinkActive="color-linearGradient"
                                class="font-medium">Cloud
                                Integration Support</a>
                            <a href="" class="font-medium">Clouding Storage</a>
                            <a href="" class="font-medium">Remote Onsite Support</a>
                            <a href="" class="font-medium">IT Consulting</a>
                            <a href="" class="font-medium">Cyber Security</a>
                            <a href="" class="font-medium">Internet & voip</a>
                            <a href="" class="font-medium">Network Setup & Support</a>
                            <a href="" class="font-medium">System Management</a>
                            <a href="" class="font-medium">Disaster Recovery</a>
                        </div>
                    </div>
                    <div class="listPart">
                        <div class="backService"><span class="font-medium">IT infrastructure</span></div>
                        <div class="d-flex flex-column fx-listServices gap20">
                            <a href="" class="font-medium">DEVOPS</a>
                            <a href="" class="font-medium">Infrastructure Management</a>
                        </div>
                    </div>
                    <div class="listPart">
                        <div class="backService"><span class="font-medium">Data Services</span></div>
                        <div class="d-flex flex-column fx-listServices gap20">
                            <a href="" class="font-medium">Analysis Services</a>
                            <a href="" class="font-medium">Custom Analysis Service</a>
                            <a href="" class="font-medium">Advanced Analytics</a>
                            <a href="" class="font-medium">BIG DATA</a>
                            <a href="" class="font-medium">Data Warehouse Modernization</a>
                            <a href="" class="font-medium">Advanced Analytics</a>
                        </div>
                    </div>
                    <div class="listPart">
                        <div class="backService"><span class="font-medium">Development</span></div>
                        <div class="d-flex flex-column fx-listServices gap20">
                            <a href="" class="font-medium">Web Development</a>
                            <a href="" class="font-medium">Mobile App Development</a>
                            <a href="" class="font-medium">Social Media Solutions</a>
                            <a href="" class="font-medium">E-commerce Solutions</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a routerLink="ourPartners" routerLinkActive="color-linearGradient" class="font-medium linkStyle">Our
                partners</a> -->
            <a routerLink="news" routerLinkActive="color-linearGradient" class="font-medium linkStyle">Our news</a>
            <a routerLink="contactUs" routerLinkActive="color-linearGradient" class="font-medium linkStyle">Contact
                us</a>
        </div>
        <div class="btn-header"><button class="font-medium btn-linearGradient colorWhite" type="button">Join
                us</button></div>
    </div>
</header>
<div class="coverBack" [ngClass]="{ 'active': isCoverVisible }"></div>