<footer>
    <div class="footer-container px-120">
        <div class="fxGeneral-cards fxFooter">
            <div class="fxFooter-part2 fxGeneral-cards-st d-flex flex-column text-center">
                <img src="../../../assets/images/logo.svg" alt="code logo" class="logo">
                <p class="style-font subtitle24px">leading partner of several heavy weight companies in the ICT
                    sector.</p>
                <div class="d-flex align-items-center fxFooter-icons ">
                    <a href="" class="transition3s"><img src="../../../assets/images/facebook-icon.svg"
                            alt="facebook icon"></a>
                    <a href="" class="transition3s"><img src="../../../assets/images/instgram-icon.svg"
                            alt="facebook icon"></a>
                    <a href="" class="transition3s"><img src="../../../assets/images/twitter-icon.svg"
                            alt="twitter icon"></a>
                    <a href="" class="transition3s"><img src="../../../assets/images/linkedin-icon.svg"
                            alt="linkedin icon"></a>
                </div>
            </div>
            <div class="fxFooter-part1">
                <h1 class="colorTwo subtitle36px font-medium">Quick links</h1>
                <div class="d-flex flex-column fxLinksFooter">
                    <a routerLink="/" routerLinkActive="color-linearGradient" class="subtitle20px colorTwo style-font"
                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                    <a routerLink="aboutUs" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">About us</a>
                    <a routerLink="ourServcies" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">Our services</a>
                    <a routerLink="/aboutUs/ourPartners" routerLinkActive="color-linearGradient"
                        [routerLinkActiveOptions]="{exact:true}" class="subtitle20px colorTwo style-font">Our
                        partners</a>
                    <a routerLink="news" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">Our news</a>
                    <a routerLink="contactUs" routerLinkActive="color-linearGradient"
                        class="subtitle20px colorTwo style-font">Contact us</a>
                </div>
            </div>
            <div class="fxFooter-part3 fxGeneral-cards-st">
                <h2 class="font-medium subtitle36px">Contact</h2>
                <p class="subtitle24px style-font">Riyadh – Saudi Arabia <br>
                    Egypt – Cairo</p>
                <p class="subtitle24px style-font">Need help? Call us <br>  +(***)*******</p>
                <p class="subtitle24px style-font mb-0">email&#64;code.com</p>
            </div>
        </div>
        <div class="copyright">
            <p class="text-center color-two subtitle20px style-font">Copyright © 2025 CODE. All rights reserved</p>
        </div>
    </div>
</footer>